.backgroundCard {
    background-color: #E8EAF6;
    margin: 1rem 4rem 1rem 4rem;
}

mat-card {
    background-color: #E8EAF6;
    margin: 0px 20px 0px 20px;
}

mat-select {
    width: 100px;
    background-color: white;
    margin-left: 25px;
}

/* ESTILO DE TABLA */

table {
    width: 100%;
}

th {
    background-color: #3F51B5;
    color: beige;
}

td {
    background-color: #C5CAE9;
}

mat-cell {
    background-color: #C5CAE9;
}