<mat-card class="backgroundCard">
  <mat-card-header>
    <mat-card-title>Matricula y cuotas</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <p style="margin-left: 2rem;">Busque un alumno por su DNI para poder ver sus datos y facturas</p>

    <!-- Buscador -->
    <div class="row">
      <mat-form-field style="margin-left: 3rem">
        <input (keyup)="buscarAlumno($event)" matInput type="text" placeholder="DNI del alumno"
          [formControl]="dniControl">
        <button mat-button *ngIf="value" matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- Datos del alumno -->
    <mat-card-title style="margin-left: 1.1rem;">Datos del alumno</mat-card-title>
    <div class="row">
      <div class="col-md-4" style="margin-left: 2rem;">
        <label><b>Alumno:</b> {{alumno.apellido}}, {{alumno.nombre}}</label>
      </div>
      <div class="col-md-3">
        <label><b>DNI:</b> {{alumno.DNIAlumno}}</label>
      </div>
    </div>

    <ng-container *ngIf="alumno.DNIAlumno == null; else elseTemplate">
    </ng-container>
    <ng-template #elseTemplate>
      <h1>Aca iria lo de cobrar, una vez ingrese el DNI</h1>
    </ng-template>
    <button (click)="configFactura()"> 
      <h3>CONFIG FACTURA (desp se cambia)</h3>
    </button>
  </mat-card-content>
</mat-card>