<div class="row justify-content-md-center">
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step label="Registrar datos del docente" [stepControl]="firstFormGroup">
      <mat-card class="col-md-10 backGroundCard">
        <mat-card-title style="text-align: center">Ingrese la información del docente a registrar</mat-card-title>
        <mat-card-content>
          <form #docenteForm="ngForm" [formGroup]="firstFormGroup">

            <!-- Datos personales -->
            <mat-card id="datosPersonales">
              <mat-card-title style="font-size: 100%">Datos personales</mat-card-title>
              <!-- Nombre -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-6">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombreCtrl" type="text" name="nombre" [(ngModel)]="nombre" required matInput>
              </mat-form-field>

              <!-- Apellido -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-6">
                <mat-label>Apellido</mat-label>
                <input formControlName="apellidoCtrl" type="text" name="apellido" [(ngModel)]="apellido" required
                  matInput>
              </mat-form-field>

              <!-- Sexo -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexoCtrl" [(ngModel)]="sexo" name="sexo" required>
                  <mat-option value="M">Masculino</mat-option>
                  <mat-option value="F">Femenino</mat-option>
                  <mat-option value="O">Otro</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- DNI -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>DNI</mat-label>
                <input formControlName="dniCtrl" type="number" name="dni" [(ngModel)]="dni" required matInput>
              </mat-form-field>

              <!-- CUIL -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>CUIL</mat-label>
                <input type="string" formControlName="cuilCtrl" name="cuil" [(ngModel)]="cuil" required matInput>
              </mat-form-field>

              <!-- Fecha de nacimiento -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>Fecha de nacimiento</mat-label>
                <input type="date" formControlName="nacimientoCtrl" name="fechaNacimiento" [(ngModel)]="fechaNacimiento"
                  required matInput>
              </mat-form-field>

              <!-- Telefono -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>Telefono</mat-label>
                <input formControlName="telefonoCtrl" type="text" name="telefono" [(ngModel)]="telefono" required
                  matInput>
              </mat-form-field>
            </mat-card>

            <!-- Datos Domicilio -->
            <mat-card id="domicilio">
              <mat-card-title style="font-size: 100%">Domicilio</mat-card-title>
              <!-- Dirección -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-12">
                <mat-label>Direccion</mat-label>
                <input formControlName="direccionCtrl" type="string" name="direccion" [(ngModel)]="direccion" required
                  matInput>
              </mat-form-field>

              <!-- Provincia -->
              <!-- <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-3">
                <mat-label>Provincia</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field> -->

              <!-- Departamento -->
              <!-- <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-3">
                <mat-label>Departamento</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field> -->

              <!-- Municipio -->
              <!-- <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-3">
                <mat-label>Municipio</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field> -->

              <!-- Localidad -->
              <!-- <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-3">
                <mat-label>Localidad</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field> -->
            </mat-card>

            <mat-card id="FormacionAcademica">
              <mat-card-title style="font-size: 100%">Formación académica</mat-card-title>

              <!-- Fecha de ingreso a la docencia -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>Fecha de ingreso a la docencia</mat-label>
                <input formControlName="fechaIngDocCtrl" type="date" name="fechaIngDocencia"
                  [(ngModel)]="fechaIngDocencia" required matInput>
              </mat-form-field>

              <!-- Fecha de ingreso al colegio -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>Fecha de registro</mat-label>
                <input type="date" formControlName="fechaIngColCtrl" name="fechaIngColegio"
                  [(ngModel)]="fechaIngColegio" required matInput readonly>
              </mat-form-field>

            </mat-card>
            <!-- Boton siguiente del stepper -->
            <div style="text-align: right">
              <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-step>
    <mat-step label="Registrar formacion del docente" [stepControl]="secondFormGroup">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Agregar Formacion Docente</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="secondFormGroup" #formacionForm="ngForm">
            <mat-label>Seleccione el tipo de formacion a registrar</mat-label>
            <br>
            <mat-form-field>
              <mat-select formControlName="tipoCtrl" matInput required [(ngModel)]="selectedTipos" name="tipo">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.nombre">
                  {{tipo.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-label>Seleccione el tipo de formacion a registrar</mat-label>
            <br>
            <mat-form-field>
              <textarea formControlName="descCtrl" matInput placeholder="Descripcion"></textarea>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput formControlName="fechaFormacionCtrl" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <br>
            <div>
              <button mat-raised-button color="primary" matStepperPrevious>Volver</button>
              <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-step>
    <mat-step label="Finalizar">
      <button mat-raised-button (click)="stepper.reset()">Limpiar Formulario</button>
      <div style="text-align: center">
        <!-- Submit -->
        <button type="submit" (click)="addDocente(docenteForm, formacionForm)" mat-raised-button
          color="primary">Registrar docente</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
</div>