<div class="col-md-12">
    <mat-card class="background-card">
        <mat-card-header>
            <mat-card-title> Plan de estudio</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row" class="text-align-center;"style="background-color: rgb(227, 231, 255); padding:15px">
                <b>Nombre del Plan:</b> {{this.data.plan.nombrePlan}}
            </div>
            <div style="height: 350px;overflow: scroll;">
                <div class="row" style="background-color: rgb(227, 231, 255);padding-top:15px">
                    <mat-list>
                        <div class="col" style="display: flex;flex-flow: row nowrap;justify-content: space-around;">
                            <b>Materias del Plan</b>
                            <b>Anio</b>
                        </div>
                        <mat-list-item *ngFor="let item of materiasPlan">
                            <div class="col" style="text-align:left;">
                                {{item.nombreMateria}}
                            </div>
                            <div class="col" style="text-align: right;">
                               <b> {{item.anio}} </b>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-card-content>
        <div class="d-flex justify-content-center" >
            <button mat-raised-button color="primary" (click)="onNoClick()">Aceptar</button>
        </div>
    </mat-card>
</div>