<button (click)="registrarFactura()" mat-button>Registrar Factura a Pagar</button>
<table mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="codigoFactura">
        <th mat-header-cell *matHeaderCellDef> Codigo de la Factura </th>
        <td mat-cell *matCellDef="let row"> {{row.codigoFactura}} </td>
    </ng-container>
    <ng-container matColumnDef="proveedor">
        <th mat-header-cell *matHeaderCellDef> Proveedor </th>
        <td mat-cell *matCellDef="let row"> {{row.proveedor}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaEmision">
        <th mat-header-cell *matHeaderCellDef> Fecha de Emision </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaEmision}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaVencimiento">
        <th mat-header-cell *matHeaderCellDef> Fecha de Vencimiento </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaVencimiento}} </td>
    </ng-container>
    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let row"> {{row.total}} </td>
    </ng-container>
    <ng-container matColumnDef="operaciones">
        <th mat-header-cell *matHeaderCellDef> Operaciones </th>
        <td mat-cell *matCellDef="let row">
            <button mat-button>Ver Detalles</button>
            <button mat-button>Pagar</button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="['codigoFactura','proveedor','fechaEmision','fechaVencimiento','total','operaciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['codigoFactura'];"></tr>
</table>