<div class="row justify-content-md-center">
  <mat-card class="col-md-10 backGroundCard">
    <mat-card-content>
      <mat-vertical-stepper [linear]="isLinear" #stepper style="background-color: #E8EAF6">
        <!-- Step REGISTRAR DATOS -->
        <mat-step label="Registrar datos del empleado" [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" #empleadoForm="ngForm">

            <!-- Datos personales -->
            <mat-card id="datosPersonales">
              <mat-card-title style="font-size: 100%">Datos personales</mat-card-title>
              <!-- Nombre -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-6">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" type="text" name="nombre" [(ngModel)]="nombre" required matInput>
              </mat-form-field>

              <!-- Apellido -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-6">
                <mat-label>Apellido</mat-label>
                <input formControlName="apellido" type="text" name="apellido" [(ngModel)]="apellido" required matInput>
              </mat-form-field>

              <!-- Sexo -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo" [(ngModel)]="sexo" name="sexo" required>
                  <mat-option value="M">Masculino</mat-option>
                  <mat-option value="F">Femenino</mat-option>
                  <mat-option value="O">Otro</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- DNI -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>DNI</mat-label>
                <input formControlName="dni" type="number" name="dni" [(ngModel)]="dni" required matInput>
              </mat-form-field>

              <!-- CUIL -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>CUIL</mat-label>
                <input type="string" formControlName="cuil" name="cuil" [(ngModel)]="cuil" required matInput>
              </mat-form-field>

              <!-- Fecha de nacimiento -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>Fecha de nacimiento</mat-label>
                <input type="date" formControlName="fechaNacimiento" name="fechaNacimiento"
                  [(ngModel)]="fechaNacimiento" required matInput>
              </mat-form-field>

              <!-- Telefono -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>Telefono</mat-label>
                <input formControlName="telefono" type="text" name="telefono" [(ngModel)]="telefono" required matInput>
              </mat-form-field>

              <!-- Fecha de ingreso al colegio -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-4">
                <mat-label>Fecha de registro</mat-label>
                <input type="date" formControlName="fechaIngColegio" name="fechaIngColegio"
                  [(ngModel)]="fechaIngColegio" required matInput readonly>
              </mat-form-field>

              <!-- Correo electrónico -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-6">
                <mat-label>Correo electrónico</mat-label>
                <input formControlName="correo" type="email" email required matInput>
              </mat-form-field>

              <!-- Tipo empleado -->
                <br>
                <mat-label>Seleccione el área de trabajo del empleado a registrar</mat-label>
                <br>
                <mat-form-field class="col-sm-4" appearance="outline">
                  <mat-select formControlName="tipoEmpleado" matInput required>
                    <mat-option *ngFor="let tipo of tipoEmpleado" [value]="tipo.nombre">
                      {{tipo.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
            </mat-card>

            <!-- Datos Domicilio -->
            <mat-card id="domicilio">
              <mat-card-title style="font-size: 100%">Domicilio</mat-card-title>
              <!-- Dirección -->
              <mat-form-field appearance="outline" hideRequiredMarker class="col-sm-12">
                <mat-label>Direccion</mat-label>
                <input formControlName="direccion" type="string" name="direccion" [(ngModel)]="direccion" required
                  matInput>
              </mat-form-field>
            </mat-card>

            <!-- Boton siguiente del stepper -->
            <div style="text-align: right">
              <button mat-raised-button color="primary" matStepperNext>Siguiente
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>

          </form>
        </mat-step>
        <mat-step label="Registrar formación académica del empleado" [stepControl]="secondFormGroup">
          <mat-card id="Formacion">
            <mat-card-content>
              <form [formGroup]="secondFormGroup" #formacionForm="ngForm">
                <div class="d-flex justify-content-start">
                  <!-- Tipo de formación -->
                  <div class="col-sm-5">
                    <mat-label>Seleccione el tipo de formación a registrar</mat-label>
                    <br>
                    <mat-form-field class="col-sm-12" appearance="outline">
                      <mat-select formControlName="tipo" matInput required [(ngModel)]="selectedTipos" name="tipo">
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo.nombre">
                          {{tipo.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <br>
                  </div>

                  <!-- Fecha en la que se obtuvo la formación academica -->
                  <div class="col-sm-3">
                    <mat-label>Fecha en la que se obtuvo</mat-label>
                    <br>
                    <mat-form-field appearance="outline">
                      <input matInput type="date" formControlName="annio">
                    </mat-form-field>
                    <br>
                  </div>
                </div>

                <!-- Descripcion de la formación academica -->
                <div class="col-sm-9">
                  <mat-label>Descripción de la formación académica a registrar</mat-label>
                  <br>
                  <mat-form-field class="col-sm-12" appearance="outline">
                    <textarea formControlName="descripcion" matInput></textarea>
                  </mat-form-field>
                  <br>
                </div>
              </form>
            </mat-card-content>
          </mat-card>

          <mat-card id="Experiencias">
            <mat-card-content>
              <form [formGroup]="thirdFormGroup" #experienciasForm="ngForm">
                <div class="d-flex justify-content-start">
                  <!-- Fecha inicio de experiencia -->
                  <div class="col-sm-3">
                    <mat-label>Desde</mat-label>
                    <br>
                    <mat-form-field class="col-sm-12" appearance="outline">
                      <input matInput type="date" formControlName="fechaDesde">
                    </mat-form-field>
                    <br>
                  </div>

                  <!-- Fecha fin de experiencia -->
                  <div class="col-sm-3">
                    <mat-label>Hasta</mat-label>
                    <br>
                    <mat-form-field class="col-sm-12" appearance="outline">
                      <input matInput type="date" formControlName="fechaHasta">
                    </mat-form-field>
                    <br>
                  </div>
                </div>

                <!-- Descripción -->
                <div class="col-sm-9">
                  <mat-label>Descripción de la experencia a registrar</mat-label>
                  <br>
                  <mat-form-field class="col-sm-12" appearance="outline">
                    <textarea formControlName="descripcionExp" matInput></textarea>
                  </mat-form-field>
                  <br>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
          <!-- Botones para volver o continuar en el Stepper-->
          <div class="d-flex justify-content-between">
            <button mat-raised-button color="primary" matStepperPrevious>
              <mat-icon>arrow_back</mat-icon>
              Volver
            </button>
            <button mat-raised-button color="primary" matStepperNext>Siguiente
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </mat-step>
        <!-- Step FINALIZAR -->
        <mat-step label="Finalizar">
          <div class="d-flex justify-content-center">
            <button mat-raised-button (click)="stepper.reset()" color="warn">
              <mat-icon>refresh</mat-icon>
              Reiniciar formulario
            </button>
            <!-- Submit -->
            <button type="submit" (click)="addEmpleado(empleadoForm, formacionForm, experienciasForm)" mat-raised-button
              color="primary">
              <mat-icon>check</mat-icon>
              Confirmar registro
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>