<form action="" [formGroup]="detalleForm">

  <!-- CONCEPTO -->
  <div class="row">
    <label style="margin-left: 15px;">Ingrese el Concepto</label>
    <mat-form-field appearance="outline" class="col-sm-12">
      <input matInput formControlName="conceptoControl">
    </mat-form-field>
  </div>

  <!-- CANTIDAD / PRECIO -->
  <div class="row">
    <div class="col-sm-6">
      <div>
        <label>Cantidad</label>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="cantidadControl">
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div>
        <label>Precio unitario</label>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="unitarioControl">
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- SUBTOTAL (BORRAR - AUTOCALCULADO) -->
  <div class="row">
    <div class="d-flex justify-content-end">
      <label>Subtotal</label>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <input matInput type="number" formControlName="subtotalControl">
      </mat-form-field>
    </div>
  </div>

  <!-- BOTONES -->
  <div class="d-flex justify-content-center">
    <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="agregarDetalle()">Aceptar</button>
  </div>
</form>