<h3>Editar información del proveedor</h3>
<form [formGroup]="proveedorForm">
  <!-- Nombre -->
  <mat-form-field appearance="outline" hideRequiredMarker>
    <mat-label>Nombre</mat-label>
    <input formControlName="nombre" type="text" required matInput>
  </mat-form-field>

  <!-- CUIL/CUIT -->
  <mat-form-field appearance="outline" hideRequiredMarker>
    <mat-label>CUIT/CUIL</mat-label>
    <input formControlName="cuit_cuil" type="text" required matInput>
  </mat-form-field>

  <!-- Tipo de servicio -->
  <mat-form-field appearance="outline" hideRequiredMarker>
    <mat-label>Tipo de servicio</mat-label>
    <mat-select placeholder="Placeholder" formControlName="tipoServicio" required matInput>
      <mat-option *ngFor="let item of tipoServicio" [value]="item.tipo">{{item.tipo}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div style="text-align: center;"> 
    <!-- Cancel -->
    <button type="reset" mat-raised-button color="warn" (click)="close()">Cancelar</button>

    <!-- Submit -->
    <button type="submit" mat-raised-button color="primary" (click)="editProveedor(proveedorForm)">Confirmar</button>
  </div>
</form>