<div mat-dialog-content style="text-align: center">
  <p *ngIf="tipoPlan">¿Eliminar el plan {{data.nombre}}?</p>
  <p *ngIf="tipoMat">¿Eliminar la materia  {{data.nombre}}?</p>
  <p *ngIf="tipoDoc">¿Eliminar el docente {{data.apellido}}, {{data.nombre}}?</p>
  <p *ngIf="tipoAula">¿Eliminar el aula {{data.nombre}}</p>
</div>
<mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="warn">Cancelar</button>
  <button mat-raised-button *ngIf="tipoPlan" (click)="eliminarPlan(data)" color="primary">Confirmar</button>
  <button mat-raised-button *ngIf="tipoMat" (click)="eliminarMateria(data)" color="primary">Confirmar</button>
  <button mat-raised-button *ngIf="tipoDoc" (click)="eliminarDocente(data)" color="primary">Confirmar</button>
  <button mat-raised-button *ngIf="tipoAula" (click)="eliminarAula(data)" color="primary">Confirmar</button>
</mat-dialog-actions>
