<div class="row justify-content-md-center">
  <mat-card id="opciones" class="col-sm-10">
    <mat-card-header>
      <mat-card-title>Seleccione las Opciones Correspondientes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Nivel -->
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Ingresar el nivel al que pertenece el plan</mat-label>
        <select [formControl]="nivelControl" matNativeControl required>
          <option value="1">Primaria</option>
          <option value="2">Secundaria</option>
        </select>
        <mat-error *ngIf="nivelControl.hasError('required')">
          El campo es requerido
        </mat-error>
      </mat-form-field>
      <!-- Nombre del plan -->
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Ingresar el nombre del plan</mat-label>
        <input matInput type="text" required [formControl]="nombreControl">
        <mat-error *ngIf="nombreControl.hasError('required')">
          El campo es requerido
        </mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-sm-10">
    <mat-card-header>
      <mat-card-title>Años del plan</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <mat-list   role="list">
        <h3 mat-subheader>Años:</h3>
        <mat-list-item  *ngFor="let anio of listaAnios; let i=index" role="listitem">
          <h4 *ngFor="let item of anio">{{anio.nombreAnio}}</h4>
          <h4>{{anio.listaMaterias[i].nombre}}</h4>
          <h4>{{anio.listaMaterias[i].idMateria}}</h4>
        </mat-list-item>
      </mat-list> -->

      <button mat-button (click)="openDialogMaterias()" type="reset" mat-raised-button color="primary">Agregar</button>
    </mat-card-content>
  </mat-card>
  <!-- Botones del formulario -->
  <div class="d-flex justify-content-center">
    <!-- Cancel -->
    <button type="reset" mat-raised-button color="warn">Cancelar</button>

    <!-- Submit -->
    <button type="button" mat-raised-button color="primary" (click)="formValid()">
      Crear Plan de Estudio
    </button>
  </div>
</div>