table {
  width: 100%;
  height: 100%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th {
  background-color: #3F51B5;
  color: beige;
}

td {
  background-color: #C5CAE9;
}

button {
  margin: 10px;
}

mat-cell {
  background-color: #C5CAE9;
}

mat-card {
  width: auto;
  display: block;
  background-color: #E8EAF6;
  margin: 2rem;
}
