<mat-card style="background: #E8EAF6">
  <mat-card-title>
    Asignar o desvincular materias de un docente
  </mat-card-title>
  <mat-card-subtitle>
    La grilla de la izquierda muestra las materias que actualmente estan asignadas al docente.
  </mat-card-subtitle>
  <mat-card-content>
    <div class="row" class="col-sm">
      <!-- Tarjeta con los datos del docente -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Docente:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- DNI Column -->
            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef> DNI</th>
              <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Apellido Column -->
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef> Apellido</th>
              <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="row">
      <div class="col">
        <!-- tarjeta con los datos de las materias asignadas -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>Materias Asignadas:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="dataSourceMateriasVinculadas" class="mat-elevation-z8">
              <!-- Códigi Column -->
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Codigo de la materia</th>
                <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
              </ng-container>

              <!-- Nombre Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>
              <!-- Operaciones Column -->
              <ng-container matColumnDef="operaciones">
                <th mat-header-cell *matHeaderCellDef> Operaciones</th>
                <td mat-cell *matCellDef="let element">
                  <button (click)="desvincular(element)" type="reset" mat-raised-button
                    style="background-color:rgba(255, 119, 95, 0.747)">
                    <mat-icon>clear</mat-icon>
                    Desvincular
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsMateriasVinculadas"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsMateriasVinculadas;"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <!-- tarjeta con los datos de las materias por asignar -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>Materias Disponibles</mat-card-title>
            <mat-card-subtitle>Seleccione las materias que desee asignar al docente</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar materia">
            </mat-form-field>
            <table mat-table [dataSource]="dataSourceMaterias" class="mat-elevation-z8">

              <!-- codigo Column -->
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Codigo de la materia</th>
                <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>
              <!-- operaciones Column -->
              <ng-container matColumnDef="operaciones">
                <th mat-header-cell *matHeaderCellDef> Operaciones</th>
                <td mat-cell *matCellDef="let element">
                  <button (click)="add(element)" mat-raised-button
                    style="background-color: rgb(114, 218, 29); display: inline">
                    <mat-icon>add_circle</mat-icon>
                    Vincular
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsMaterias"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsMaterias;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row d-flex justify-content-end">

      <button (click)="cancelar()" type="reset" mat-raised-button color="warn">Cancelar</button>
      <button (click)="guardarCambios()" type="reset" mat-raised-button color="primary">
        <mat-icon>save</mat-icon>
        Guardar cambios
      </button>

    </div>
  </mat-card-content>
</mat-card>