<div class="row">
    <div class="col">
        <label for="">O filtre las facturas por Proveedor</label>
    </div>
    <div class="col">
        <mat-form-field>
            <label>Seleccione el Proveedor</label>
            <select matNativeControl required [formControl]="proveedorControl">
                <option (click)="getFacturasPorProveedor()" [value]="'N'">TODOS LOS PROVEEDORES</option>
                <option (click)="getFacturasPorProveedor()" *ngFor="let proveedor of proveedores"
                    [value]="proveedor.idProveedor">
                    {{proveedor.nombre}}
                </option>
            </select>
        </mat-form-field>
    </div>
    <mat-card style="margin-left: 20px">
        <label>Seleccione un rango de Fechas de Vencimiento</label>
        <div>
            <label style="margin-left: 20px">Fecha de Inicio</label>
            <input style="margin-left: 10px" type="date" [formControl]="fechaInicio">
            <label style="margin-left: 20px">Fecha fin</label>
            <input style="margin-left: 20px" type="date" [formControl]="fechaFin">

            <button style="margin-left: 10px" (click)="obtenerFacturasConSaldoEntreFechas()" mat-raised-button
                color="primary">Buscar</button>
            <button style="margin-left: 10px" (click)="reset()" mat-raised-button color="primary">Reestablecer</button>
        </div>
    </mat-card>
</div>


<table mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="codigoFactura">
        <th mat-header-cell *matHeaderCellDef> Codigo de la Factura </th>
        <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
    </ng-container>
    <ng-container matColumnDef="proveedor">
        <th mat-header-cell *matHeaderCellDef> Proveedor </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}}</td>
    </ng-container>
    <ng-container matColumnDef="fechaVencimiento">
        <th mat-header-cell *matHeaderCellDef> Fecha de Vencimiento </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaVencimiento}} </td>
    </ng-container>
    <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef> Importe </th>
        <td mat-cell *matCellDef="let row"> {{row.importe}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['codigoFactura','proveedor','fechaVencimiento','importe']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['codigoFactura','proveedor','fechaVencimiento','importe'];">
    </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<button mat-raised-button (click)="generaBoleta()" color="primary">Generar Reporte</button>
