mat-card {
    margin: 2rem;
    display: block;
    background-color: #E8EAF6;
}

mat-card-title {
    text-align: center;
}

mat-card-content {
    text-align: center;
}

mat-form-field {
    display: block;
    width: auto;
}

button {
    margin: 10px;
}
