<div class="row justify-content-md-center">
  <mat-card class="col-md-10 backGroundCard">
    <mat-card-title style="text-align: center">Administración de Aulas</mat-card-title>
    <mat-card-content>
      <div style="text-align: center; margin-bottom: 1rem">
        <button mat-raised-button style="background-color: #B2FF59" (click)="openAddDialog()" Agregar curso>Agregar
          aula
        </button>
      </div>
      <div class="row justify-content-md-center">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Aula">
        </mat-form-field>
      </div>


      <!-- Lista de aulas -->
      <div class="row justify-content-md-center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-sm-10">

          <!-- Columna ID, solo para obtener el dato para ser usado en la edición -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let aula">{{aula.idAula}}</td>
          </ng-container>

          <!-- Columna Nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let aula">{{aula.nombre}}</td>
          </ng-container>

          <!-- Columna Capacidad -->
          <ng-container matColumnDef="capacidad">
            <th mat-header-cell *matHeaderCellDef>Capacidad</th>
            <td mat-cell *matCellDef="let aula">{{aula.capacidad}}</td>
          </ng-container>

          <!-- Columna Disponibilidad -->
          <ng-container matColumnDef="disponibilidad">
            <th mat-header-cell *matHeaderCellDef>Disponibilidad</th>
            <td mat-cell *matCellDef="let aula">{{aula.disponibilidad}}</td>
          </ng-container>

          <!-- Columna operaciones -->
          <ng-container matColumnDef="operaciones">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">Operaciones</th>
            <td mat-cell *matCellDef="let aula" style="text-align: center">

              <!-- Botón editar -->
              <button mat-raised-button style="background-color: dodgerblue" (click)="openEditDialog(aula)">
                <mat-icon>create</mat-icon>
              </button>

              <!-- Botón eliminar -->
              <button mat-raised-button color="warn" (click)="openDeleteDialog(aula)">
                <mat-icon>delete</mat-icon>
              </button>
              <!-- Botón asignar o desvincular cursos -->
              <button mat-raised-button style="background-color: rgb(114, 218, 29); display: inline" (click)="asignarCurso(aula)">
                <mat-icon>add_circle</mat-icon>Asignar o desvincular cursos
              </button>
            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
