<div class="row justify-content-md-center">
  <mat-card class="col-md-10 backGroundCard">
    <mat-card-title style="text-align: center">Lista de empleados registrados en el sistema</mat-card-title>
    <mat-card-subtitle style="margin-left: 2%">Haga clic en el botón
      <button mat-raised-button style="background-color: rgb(114, 218, 29); display: inline">
        <mat-icon>add_circle</mat-icon>
        F.A.
      </button>
      para agregar la <b>formación académica</b> del empleado.
    </mat-card-subtitle>
    <mat-card-content>

      <div class="row">
        <!-- Buscador -->
        <div class="col-sm-6">
          <mat-form-field class="col-sm-12">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar empleado">
          </mat-form-field>
        </div>

        <!-- Docentes historico-->
        <div class="col-sm-6">Ver empleados dados de baja:
          <button mat-raised-button color="primary" style="display: inline" (click)="listaHistoricos()">
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <mat-radio-group style="margin-left: 1.8rem" color="primary">
          <mat-radio-button value="D" (click)="applyFilter('Docente')">Docente</mat-radio-button>
          <mat-radio-button value="A" (click)="applyFilter('Administración')" style="margin-left: 10px">Administración
          </mat-radio-button>
          <mat-radio-button value="O" (click)="applyFilter('Ordenanza')" style="margin-left: 10px">Ordenanza
          </mat-radio-button>
          <mat-radio-button value="C" (click)="applyFilter('Cocina')" style="margin-left: 10px">Cocina
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Tabla de empleados -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Columna DNI -->
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef>DNI</th>
          <td mat-cell *matCellDef="let empleado">{{empleado.dni}}</td>
        </ng-container>

        <!-- Columna Apellido -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let empleado">{{empleado.apellido}}</td>
        </ng-container>

        <!-- Columna Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let empleado">{{empleado.nombre}}</td>
        </ng-container>

        <!-- Columna Tipo -->
        <ng-container matColumnDef="tipoEmpleado">
          <th mat-header-cell *matHeaderCellDef>Sector</th>
          <td mat-cell *matCellDef="let empleado">{{empleado.tipoEmpleado}}</td>
        </ng-container>

        <!-- Columna operaciones -->
        <ng-container matColumnDef="operaciones">
          <th mat-header-cell *matHeaderCellDef>Operaciones</th>
          <td mat-cell *matCellDef="let empleado">

            <!-- Botón editar -->
            <button mat-raised-button style="background-color: dodgerblue" (click)="openEditDialog(empleado)">
              <mat-icon>create</mat-icon>
            </button>

            <!-- Botón eliminar -->
            <button mat-raised-button color="warn" (click)="borrarEmpleado(empleado)">
              <mat-icon>delete</mat-icon>
            </button>

            <!-- Agregar formación académica -->
            <button (click)="agregarFormacion(empleado)" mat-raised-button style="background-color: rgb(114, 218, 29)">
              <mat-icon>add_circle</mat-icon>
              F.A.
            </button>

            <!-- Ver perfil -->
            <button (click)="verPerfil(empleado.dni)" mat-raised-button style="background-color: rosybrown">
              <mat-icon>account_circle</mat-icon>
              Perfil
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>