<mat-card>
    <mat-card-content>
        <form #registroForm="ngForm" [formGroup]="firstFormGroup">
            <!-- Usuario -->
            <mat-form-field appearance="outline" hideRequiredMarker>
                <mat-label>Usuario</mat-label>
                <input formControlName="nombre" type="text" required matInput>
            </mat-form-field>
            <!-- Contraseña -->
            <mat-form-field appearance="outline" hideRequiredMarker>
                <mat-label>Contraseña</mat-label>
                <input formControlName="contraseña" type="password" required matInput>
            </mat-form-field>
            <!-- Botones -->
            <div class="d-flex justify-content-center">
                <button mat-raised-button type="submit" color="primary">Iniciar sesión</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>