<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <!-- Small Brand information, appears on minimized sidebar-->
      <div class="sidenav-header-logo">
        <a routerLink="/" class="brand-small text-center" routerLinkActive="active">
          <strong class="text-primary">SGI</strong>
        </a>
      </div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
      <h5 class="sidenav-heading">Administración</h5>
      <ul id="side-main-menu" class="side-menu list-unstyled">

        <!-- Items sidebar -->
        <li><a href=""><i class="icon-home"></i>Inicio</a></li>
        <li><a routerLink="/Materias" routerLinkActive="active"><i class="icon-form"></i>Administrar materias</a></li>
        <li><a routerLink="/Cursos" routerLinkActive="active"><i class="fa fa-bar-chart"></i>Administrar cursos</a></li>
        <li><a routerLink="/Aulas" routerLinkActive="active"><i class="fa fa-bar-chart"></i>Administrar aulas</a></li>

        <!-- Dropdown Plan de estudio-->
        <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
            <i class="icon-interface-windows"></i>Planes de estudio</a>

          <!-- Dropdown items -->
          <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/crearPlan" routerLinkActive="active">Crear plan</a></li>
            <li><a routerLink="/listaPlanes" routerLinkActive="active">Lista de planes</a></li>
          </ul>
        </li>

        <!-- Dropdown Docentes -->
        <li><a href="#docentesDropdown" aria-expanded="false" data-toggle="collapse">
            <i class="icon-interface-windows"></i>Asignación Docente</a>

          <!-- Dropdown items -->
          <ul id="docentesDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/docentesPrimaria" routerLinkActive="active">Primaria</a></li>
          </ul>
          <!-- Dropdown items -->
          <ul id="docentesDropdown" class="collapse list-unstyled ">
              <li><a routerLink="/docentesSecundaria" routerLinkActive="active">Secundaria</a></li>
            </ul>
        </li>
        <!-- Dropdown empleados -->
        <li><a href="#empleadosDropdown" aria-expanded="false" data-toggle="collapse">
            <i class="icon-interface-windows"></i>Empleados</a>

          <!-- Dropdown items -->
          <ul id="empleadosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/nuevoEmpleado" routerLinkActive="active">Registrar empleado</a></li>
          </ul>
          <ul id="empleadosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/listaEmpleados" routerLinkActive="active">Lista de empleados</a></li>
          </ul>
        </li>

        <!-- Dropdown Alumnos -->
        <li><a href="#alumnosDropdown" (click)="redirigir('alumno')" aria-expanded="false" data-toggle="collapse">
            <mat-icon style="margin-right: 5px">school</mat-icon>Alumnos
          </a>

          <!-- Dropdown items -->
          <ul id="alumnosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/inscribirAlumno" routerLinkActive="active">Inscribir alumno</a></li>
          </ul>
          <!-- <ul id="alumnosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/listaAlumnos" routerLinkActive="active">Lista de alumnos</a></li>
          </ul> -->
          <ul id="alumnosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/asignarAlumno" routerLinkActive="active">Asignar curso</a></li>
          </ul>
        </li>


        <li><a href="#periodoDropdown" aria-expanded="false" data-toggle="collapse">
            <mat-icon style="margin-right: 5px">assignment</mat-icon>Ciclos Lectivos
          </a>

          <!-- Dropdown items -->
          <ul id="periodoDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/periodosPrimaria" routerLinkActive="active">Primaria</a></li>
          </ul>
          <ul id="periodoDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/periodosSecundaria" routerLinkActive="active">Secundaria</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>