<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <!-- Small Brand information, appears on minimized sidebar-->
      <div class="sidenav-header-logo">
        <a routerLink="/" class="brand-small text-center" routerLinkActive="active">
          <strong class="text-primary">SGI</strong>
        </a>
      </div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
      <h5 class="sidenav-heading">Administración</h5>
      <ul id="side-main-menu" class="side-menu list-unstyled">

        <!-- Items sidebar -->
        <li><a routerLink="/" routerLinkActive="active"> <mat-icon>home</mat-icon>Inicio</a></li>
        <!-- <li><a routerLink="/Materias" routerLinkActive="active"><i class="icon-form"></i>Administrar materias</a></li> -->
        <!-- <li><a routerLink="/Cursos" routerLinkActive="active"><i class="fa fa-bar-chart"></i>Administrar cursos</a></li> -->
        <!-- <li><a routerLink="/Aulas" routerLinkActive="active"><i class="fa fa-bar-chart"></i>Administrar aulas</a></li> -->

        <!-- Dropdown Plan de estudio-->
        <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
            <mat-icon>list_alt</mat-icon> Planes de estudio</a>

          <!-- Dropdown items -->
          <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/crearPlan" routerLinkActive="active">Crear plan</a></li>
            <!-- <li><a routerLink="/listaPlanes" routerLinkActive="active">Lista de planes</a></li> -->
          </ul>
        </li>

        <!-- Dropdown Docentes -->
        <li><a href="#docentesDropdown" aria-expanded="false" data-toggle="collapse">
            <mat-icon>assignment</mat-icon> Asignación Docente</a>

          <!-- Dropdown items -->
          <ul id="docentesDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/docentesPrimaria" routerLinkActive="active">Primaria</a></li>
          </ul>
          <!-- Dropdown items -->
          <ul id="docentesDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/docentesSecundaria" routerLinkActive="active">Secundaria</a></li>
          </ul>
        </li>
        <!-- Dropdown empleados -->
        <li><a href="#empleadosDropdown" aria-expanded="false" data-toggle="collapse">
            <mat-icon>person</mat-icon> Empleados</a>

          <!-- Dropdown items -->
          <ul id="empleadosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/nuevoEmpleado" routerLinkActive="active">Registrar empleado</a></li>
          </ul>
          <ul id="empleadosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/listaEmpleados" routerLinkActive="active">Lista de empleados</a></li>
          </ul>
        </li>

        <!-- Dropdown Alumnos -->
        <li><a href="#alumnosDropdown" (click)="redirigir('alumno')" aria-expanded="false" data-toggle="collapse">
            <mat-icon style="margin-right: 5px">school</mat-icon>Alumnos
          </a>

          <!-- Dropdown items -->
          <ul id="alumnosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/inscribirAlumno" routerLinkActive="active">Registrar Nuevo Alumno</a></li>
          </ul>
          <!-- <ul id="alumnosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/listaAlumnos" routerLinkActive="active">Lista de alumnos</a></li>
          </ul> -->
          <ul id="alumnosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/asignarAlumnoPrimaria" routerLinkActive="active">Inscribir Alumnos de Primaria</a></li>
            <li><a routerLink="/asignarAlumnoSecundaria" routerLinkActive="active">Inscribir Alumnos de Secundaria</a>
            </li>
          </ul>
        </li>


        <!-- periodos -->
        <li><a href="#periodoDropdown" aria-expanded="false" data-toggle="collapse">
            <mat-icon style="margin-right: 5px">assignment</mat-icon>Ciclos Lectivos
          </a>

          <!-- Dropdown items -->
          <ul id="periodoDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/periodosPrimaria" routerLinkActive="active">Primaria</a></li>
          </ul>
          <ul id="periodoDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/periodosSecundaria" routerLinkActive="active">Secundaria</a></li>
          </ul>
        </li>

        <!-- Cobros Dropdown-->
        <li><a href="#cobrosDropdown" (click)="cobros()" aria-expanded="false" data-toggle="collapse">
            <mat-icon style="margin-right: 5px">monetization_on</mat-icon>Cobros
          </a>

          <!-- Dropdown items -->
          <ul id="cobrosDropdown" class="collapse list-unstyled ">
            <li><a routerLink="/configFactura" routerLinkActive="active">Actualizar aranceles</a></li>
            <li><a routerLink="/ingresos" routerLinkActive="active">Ingresos</a></li>
            <li><a routerLink="/saldos" routerLinkActive="active">Saldos</a></li>

          </ul>
        </li>

        <!-- gastos -->
        <li><a href="#gastosDropdown" (click)="gastos()" aria-expanded="false" data-toggle="collapse">
          <mat-icon style="margin-right: 5px">money_off</mat-icon>Gastos
        </a>

        <!-- Dropdown items -->
        <!-- <ul id="gastosDropdown" class="collapse list-unstyled ">
          <li><a routerLink="/registrarFactura" routerLinkActive="active">Registrar Factura</a></li>

        </ul> -->
      </li>
        
        <!-- Proveedor Dropdown-->
        <li><a href="#proveedorDropdown" (click)="proveedor()" aria-expanded="false" data-toggle="collapse">
            <mat-icon style="margin-right: 5px">people</mat-icon>Proveedores
          </a>
        </li>

        
      </ul>
    </div>
  </div>
</nav>