<h4>Seleccione el Ciclo Lectivo</h4>
<mat-form-field>
    <select matNativeControl required>
        <option value="volvo">Volvo</option>
    </select>
</mat-form-field>

<h4>Seleccione el Curso</h4>
<mat-form-field>
    <select matNativeControl required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</mat-form-field>

<h4>Seleccione la División</h4>
<mat-form-field>
    <select matNativeControl required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</mat-form-field>