.background-card{
    background-color: #E8EAF6;
    margin: 0;
  }
 
  mat-card-title {
    text-align: left;
  }
    
  mat-form-field {
    display: block;
    width: auto;
  }
  
  .search-form {
    min-width: 150px;
    max-width: 50%;
    width: 100%;
    margin-left: 30px;
  }
  
  .search-full-width {
    width: 100%;
  }
  
  mat-panel-title {
    color: beige;
  }
  
  
  