<div class="row">
    <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
            <li class="list-group-item" style="background: #303F9F; color: #C5CAE9">SGI Colegio</li>
            <li class="list-group-item" style="background: #3F51B5; color: #FFFFFF">Administracion de Planes De Estudio</li>
            <a class="list-group-item list-group-item-action active" id="crearPlan-list" data-toggle="list"
                href="#crearPlan" role="tab" aria-controls="crearPlan">Crear Nuevo Plan De Estudio</a>
            <a class="list-group-item list-group-item-action" id="listarPlan-list" data-toggle="list"
                href="#listarPlan" role="tab" aria-controls="listarPlan">Listar Planes</a>


                <li class="list-group-item" style="background: #3F51B5; color: #FFFFFF">Administracion de Materias</li>

            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                href="#list-profile" role="tab" aria-controls="profile">Materias</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                href="#list-messages" role="tab" aria-controls="messages">Cursos</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                href="#list-settings" role="tab" aria-controls="settings">Otros</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="crearPlan" role="tabpanel" aria-labelledby="crearPlan-list">
                <app-plan-estudio></app-plan-estudio>
            </div>
            <div class="tab-pane fade show active" id="listarPlan" role="tabpanel" aria-labelledby="listarPlan-list">
                <app-lista-planes></app-lista-planes>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <app-materias></app-materias>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <app-cursos></app-cursos>
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
    </div>
</div>

<script>
    $('#myList a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>

<script>
    $('#myList a[href="#crearPlan"]').tab('show') // Select tab by name
    $('#myList a[href="#listarPlan"]').tab('show') // Select tab by name
    $('#myList a[href="#listarPlan"]').tab('show') // Select tab by name


</script>