/* BACKGROUND CARD */

.backGroundCard {
    margin: 2rem 5rem 2rem 5rem;
    background-color: #E8EAF6;
}

/* LISTA DE CONCEPTOS DE FACTURA */

table {
    width: 100%;
}

th {
    background-color: #3F51B5;
    color: beige;
}

td {
    text-align: left !important;
    background-color: rgb(225, 228, 245);
}