<div style="padding: 25px;">
    <div class="row">
        <div class="col">
            REPORTE
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col">
            DEUDAS
        </div>
    </div>
    <br>
    <div *ngIf="reporte.fechaI !== '' || reporte.fechaF !== ''" class="row">
        <div class="col-4">
            Periodo
        </div>
        <div class="col-4">Desde: {{reporte.fechaI}}</div>
        <div class="col-4">Hasta: {{reporte.fechaF}}</div>
    </div>
    <div *ngIf="reporte.fechaI === '' || reporte.fechaF === ''" class="row">
        <div class="col-4">
            TODOS LOS PERIODOS
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table>
                <tr>
                    <th>Codigo de Factura</th>
                    <th>Proveedor</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Importe</th>
                </tr>
                <tr *ngFor="let dueda of deudas">
                    <td>{{dueda.codigo}}</td>
                    <td>{{dueda.proveedor}}</td>
                    <td>{{dueda.fecha}}</td>
                    <td>{{dueda.importe}}</td>
                </tr>
                <br>
                <tfoot>
                    <tr>
                        <td><b>TOTAL</b></td>
                        <td></td>
                        <td><b>{{reporte.total}}</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button (click)="exportarCSV()" mat-raised-button color="primary" (click)="generaBoleta()">
        <mat-icon> insert_drive_file
        </mat-icon> Exportar a CSV
    </button>
</div>