<div class="example-container">

  <!-- Buscador de materia -->

  <!-- Lista de materias -->
  <table mat-table [dataSource]="materiaService.datasource">

    <!-- Columna código -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Codigo de la Materia</th>
      <td mat-cell *matCellDef="let materia"> {{materia.codigo}} </td>
    </ng-container>

    <!-- Columna nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre de la Materia</th>
      <td mat-cell *matCellDef="let materia"> {{materia.nombre}} </td>
    </ng-container>

    <!-- Columna operaciones -->
    <ng-container matColumnDef="operaciones">
      <th mat-header-cell *matHeaderCellDef>Operaciones</th>
      <td mat-cell *matCellDef="let materia">

        <!-- Botón editar / Modal trigger -->
        <button mat-raised-button style="background-color: khaki" (click)="editarMateria(materia)" data-toggle="modal"
          data-target="#editModal">
          <mat-icon>create</mat-icon>
        </button>

        <!-- Botón eliminar / Modal trigger -->
        <button mat-raised-button style="background-color: #ff0000"  (click)="eliminarMateria(materia)">
          <mat-icon>delete</mat-icon>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-body" style="text-align: center">
                ¿Eliminar la materia {{materia.nombre}}?
                <div>
                  <button type="button" mat-raised-button color="warn" data-dismiss="modal">Cancelar</button>
                  <button type="button" mat-raised-button color="primary" data-dismiss="modal"
                    (click)="eliminarMateria(materia)">Confirmar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>