<mat-card class="backGroundCard">
  <mat-card-title>Registrar nueva factura</mat-card-title>
  <mat-card-content>
    <form [formGroup]="facturaForm">

      <!-- FILA PROVEEDOR / CODIGO / SUCURSAL -->
      <div class="row">

        <!-- PROVEEDOR -->
        <div class="col-sm-4">
          <div>
            <label>Proveedor (requerido)</label>
          </div>
          <div style="text-align:center">
            <mat-form-field appearance="outline">
              <mat-select matNativeControl required formControlName="proveedorControl">
                <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.idProveedor">{{proveedor.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- CODIGO FACTURA -->
        <div class="col-sm-4">
          <div>
            <label>Código de la factura</label>
          </div>
          <div style="text-align:center">
            <mat-form-field appearance="outline">
              <input formControlName="codigoControl" matInput>
            </mat-form-field>
          </div>
        </div>

        <!-- SUCURSAL -->
        <div class="col-sm-4">
          <div>
            <label>Punto de venta o sucursal</label>
          </div>
          <div style="text-align:center">
            <mat-form-field appearance="outline">
              <input formControlName="puntoVentaControl" matInput>
            </mat-form-field>
          </div>
        </div>


      </div>

      <!-- FECHA EMISION / FECHA VENCIMIENTO / TIPO FACTURA-->
      <div class="row">

        <!-- FECHA EMISION -->
        <div class="col-sm-4">
          <div>
            <label>Fecha de emision de la factura (requerido)</label>
          </div>
          <div style="text-align:center">
            <mat-form-field appearance="outline">
              <input matInput type="date" formControlName="fechaEmisionControl">
            </mat-form-field>
          </div>
        </div>

        <!-- FECHA VENCIMIENTO-->
        <div class="col-sm-4">
          <div>
            <label>Fecha de vencimiento de la factura (requerido)</label>
          </div>
          <div style="text-align:center">
            <mat-form-field appearance="outline">
              <input matInput type="date" formControlName="fechaVencimientoControl">
            </mat-form-field>
          </div>
        </div>

        <!-- TIPO DE FACTURA -->
        <div class="col-sm-4">
          <div>
            <label>Tipo de factura</label>
          </div>
          <div style="text-align:center">
            <mat-form-field appearance="outline">
              <mat-select matNativeControl required formControlName="letraControl">
                <mat-option value="A">A</mat-option>
                <mat-option value="B">B</mat-option>
                <mat-option value="C">C</mat-option>
                <mat-option value="E">E</mat-option>
                <mat-option value="X">X</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- AGREGAR NUEVO CONCEPTO A LA FACTURA-->
      <div class="d-flex justify-content-center">
        <button mat-raised-button (click)="agregarDetalle()"
          style="background-color: rgb(114, 218, 29); margin: 0px 0px 20px 0px;">Agregar nuevo
          concepto</button>
      </div>

      <!-- TABLA DE LA FACTURA -->
      <div class="row" style="text-align:center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="col-sm-12">

          <!-- Concepto Column -->
          <ng-container matColumnDef="concepto">
            <th mat-header-cell *matHeaderCellDef> Concepto </th>
            <td mat-cell *matCellDef="let element"> {{element.concepto}} </td>
          </ng-container>

          <!-- unitario Column -->
          <ng-container matColumnDef="unitario">
            <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
            <td mat-cell *matCellDef="let element"> {{element.precioUnitario}} </td>
          </ng-container>

          <!-- cantidad Column -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
          </ng-container>


          <!-- Subtotal Column -->
          <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef> Subtotal </th>
            <td mat-cell *matCellDef="let element"> {{element.subtotal}} </td>
          </ng-container>

          <!-- operaciones Column -->
          <ng-container matColumnDef="op">
            <th mat-header-cell *matHeaderCellDef> Operaciones </th>
            <td mat-cell *matCellDef="let element">
              <button (click)="eliminarDetalle(element)" mat-button>Quitar</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <!-- IMPORTE TOTAL -->
      <div class="d-flex justify-content-end" style="margin-top:20px">
        <div id="importe">
          <label>Importe total&nbsp;&nbsp;</label>
          <input type="text" readonly value="{{totalFactura.toFixed(2)}}">
        </div>
      </div>

      <!-- BOTONES ACEPTAR Y CANCELAR -->
      <div class="d-flex justify-content-center">
        <button id="submitButton" mat-raised-button color="warn">Cancelar</button>
        <button id="submitButton" mat-raised-button (click)="onSubmit()" color="primary">Aceptar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>