<input type="date" [formControl]="fechaInicio">
<input type="date" [formControl]="fechaFin">
<button (click)="obtenerDetalles()" mat-button>Buscar</button>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="mes">
        <th mat-header-cell *matHeaderCellDef> Concepto</th>
        <td mat-cell *matCellDef="let element"> {{element.mes}} </td>
    </ng-container>
    <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef> Importe </th>
        <td mat-cell *matCellDef="let element"> {{element.importe}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-button>Exportar como PDF</button>