<div>
  <form [formGroup]="materia">
    <mat-form-field appearance="outline">
      <mat-label>Codigo de la materia</mat-label>
      <input type="text" matInput formControlName="codigoControl">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre de la materia</mat-label>
      <input type="text" matInput formControlName="materiaControl">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions style="text-align: right;">
  <button mat-raised-button (click)="onNoClick()" color="primary">Agregar</button>
</div>