<mat-card class="backgroundCard">
  <mat-card-header>
    <mat-card-title>Inscribir Alumnos de Primaria</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <label style="margin-left: 20px">Seleccione un ciclo Lectivo</label>
    <mat-form-field style="margin-left: 20px">
      <mat-select [formControl]="cicloControl">
        <mat-option *ngFor="let ciclo of ciclos" [value]="ciclo.idPeriodoLectivo">
          {{ciclo.periodo}} {{ciclo.nombrePlan}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Nivel -->
    <div class="row">
      <label style="margin-left: 35px">Seleccione el la Division</label>
      <mat-radio-group style="margin-left: 40px" [formControl]="divisionControl" style="margin-left: 3rem"
        aria-label="Seleccione una Opción">
        <mat-radio-button (click)="closeAllPanels()" value="A">Division A</mat-radio-button>
        <mat-radio-button style="margin-left: 20px" (click)="closeAllPanels()" value="B">Division B</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-accordion [multi]="true" #accordion="matAccordion">

      <!-- PRIMERO -->

      <mat-expansion-panel [expanded]="this.isExpanded">
        <mat-expansion-panel-header (click)="obtenerAlumnos(1,'PRIMERO')">
          Primero
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin: 10px">
            <b>Lista Alumnos</b>
          </label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Dni:</b></label>
            </div>
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Nombre y Apellido </b></label>
            </div>
            <mat-list-item *ngFor="let alumno of listaPrimero;" role="listitem">
              <div class="col-md-4">
                {{alumno.DNIAlumno}}
              </div>
              <div class="col-md-4">
                {{alumno.nombre}} {{alumno.apellido}}
              </div>
              <div class="col-md-4">
                <button (click)="dialogoEliminar(alumno,'PRIMERO')" mat-raised-button color="warn">Dar de Baja</button>
              </div>
            </mat-list-item>
            <div class="col">
              <button (click)="inscribirAlumno(alumno,'PRIMERO')" mat-raised-button color="primary">Inscribir Alumno en
                este curso</button>
            </div>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <!-- segundo -->
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerAlumnos(1,'SEGUNDO')">
          Segundo
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px"><b>Lista de Alumnos:</b></label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Dni:</b></label>
            </div>
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Nombre y Apellido</b></label>
            </div>
            <mat-list-item *ngFor="let alumno of listaSegundo;" role="listitem">
              <div class="col-md-4">
                {{alumno.DNIAlumno}}
              </div>
              <div class="col-md-4">
                {{alumno.nombre}} {{alumno.apellido}}
              </div>
              <div class="col-md-4">
                <button (click)="dialogoEliminar(alumno,'SEGUNDO')" mat-raised-button color="warn">Dar de Baja</button>
              </div>
            </mat-list-item>
            <div class="col">
              <button (click)="inscribirAlumno(alumno,'SEGUNDO')" mat-raised-button color="primary">Inscribir Alumno en
                este curso</button>
            </div>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <!-- tercero -->
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerAlumnos(1,'SEGUNDO')">
          Tercero
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px"><b>Lista de Alumnos:</b></label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Dni:</b></label>
            </div>
            <div class="col-md-4">
              <label style="margin:10px" for=""><b><Nav>Nombre y Apellido</Nav></b></label>
            </div>
            <mat-list-item *ngFor="let alumno of listaTercero;" role="listitem">
              <div class="col-md-4">
                {{alumno.DNIAlumno}}
              </div>
              <div class="col-md-4">
                {{alumno.nombre}} {{alumno.apellido}}
              </div>
              <div class="col-md-4">
                <button (click)="dialogoEliminar(alumno,'TERCERO')" mat-raised-button color="warn">Dar de Baja</button>
              </div>
            </mat-list-item>
            <div class="col">
              <button (click)="inscribirAlumno(alumno,'TERCERO')" mat-raised-button color="primary">Inscribir Alumno en
                este curso</button>
            </div>
          </div>
        </mat-list>
      </mat-expansion-panel>

      <!-- CUARTO -->
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerAlumnos(1,'CUARTO')">
          Cuarto
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px"><b>Lista de Alumnos:</b></label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Dni:</b></label>
            </div>
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Nombre y Apellido</b></label>
            </div>
            <mat-list-item *ngFor="let alumno of listaCuarto;" role="listitem">
              <div class="col-md-4">
                {{alumno.DNIAlumno}}
              </div>
              <div class="col-md-4">
                {{alumno.nombre}} {{alumno.apellido}}
              </div>
              <div class="col-md-4">
                <button (click)="dialogoEliminar(alumno,'CUARTO')" mat-raised-button color="warn">Dar de Baja</button>
              </div>
            </mat-list-item>
            <div class="col">
              <button (click)="inscribirAlumno(alumno,'CUARTO')" mat-raised-button color="primary">Inscribir Alumno en
                este curso</button>
            </div>
          </div>
        </mat-list>
      </mat-expansion-panel>

      <!-- quinto -->
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerAlumnos(1,'QUINTO')">
          Quinto
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px"><b>Lista de Alumnos:</b></label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Dni:</b></label>
            </div>
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Nombre y Apellido</b></label>
            </div>
            <mat-list-item *ngFor="let alumno of listaQuinto;" role="listitem">
              <div class="col-md-4">
                {{alumno.DNIAlumno}}
              </div>
              <div class="col-md-4">
                {{alumno.nombre}} {{alumno.apellido}}
              </div>
              <div class="col-md-4">
                <button (click)="dialogoEliminar(alumno,'QUINTO')" mat-raised-button color="warn">Dar de
                  Baja</button>
              </div>
            </mat-list-item>
            <div class="col">
              <button (click)="inscribirAlumno(alumno,'QUINTO')" mat-raised-button color="primary">Inscribir Alumno
                en este curso</button>
            </div>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <!-- sexto -->
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerAlumnos(1,'SEXTO')">
          Sexto
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px"><b>Lista de Alumnos:</b></label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Dni:</b></label>
            </div>
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Nombre y Apellido</b></label>
            </div>
            <mat-list-item *ngFor="let alumno of listaSexto;" role="listitem">
              <div class="col-md-4">
                {{alumno.DNIAlumno}}
              </div>
              <div class="col-md-4">
                {{alumno.nombre}} {{alumno.apellido}}
              </div>
              <div class="col-md-4">
                <button (click)="dialogoEliminar(alumno,'SEXTO')" mat-raised-button color="warn">Dar de Baja</button>
              </div>
            </mat-list-item>
            <div class="col">
              <button (click)="inscribirAlumno(alumno,'SEXTO')" mat-raised-button color="primary">Inscribir Alumno en
                este curso</button>
            </div>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <!-- septimo -->
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerAlumnos(1,'SEPTIMO')">
          Septimo
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px"><b>Lista de Alumnos:</b></label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Dni:</b></label>
            </div>
            <div class="col-md-4">
              <label style="margin:10px" for=""><b>Nombre y Apellido</b></label>
            </div>
            <mat-list-item *ngFor="let alumno of listaSeptimo;" role="listitem">
              <div class="col-md-4">
                {{alumno.DNIAlumno}}
              </div>
              <div class="col-md-4">
                {{alumno.nombre}} {{alumno.apellido}}
              </div>
              <div class="col-md-4">
                <button (click)="dialogoEliminar(alumno,'SEPTIMO')" mat-raised-button color="warn">Dar de Baja</button>
              </div>
            </mat-list-item>
            <div class="col">
              <button (click)="inscribirAlumno(alumno,'SEPTIMO')" mat-raised-button color='primary'>Inscribir Alumno en
                este curso</button>
            </div>
          </div>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>