<mat-card>
  <mat-card-header>
    <mat-card-title>Inscribir Alumnos de Primaria</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="col">
      <mat-form-field>
        <label>Seleccione un ciclo Lectivo</label>
        <mat-select [formControl]="cicloControl">
          <mat-option *ngFor="let ciclo of ciclos" [value]="ciclo.idPeriodoLectivo">
            {{ciclo.periodo}} {{ciclo.nombrePlan}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Nivel -->
      <div class="row">
        <label>
          Seleccione el la Division
        </label>
        <mat-radio-group [formControl]="divisionControl" style="margin-left: 3rem" aria-label="Seleccione una Opción">
          <mat-radio-button (click)="closeAllPanels()" value="A">Division A</mat-radio-button>
          <mat-radio-button (click)="closeAllPanels()" value="B">Division B</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-accordion [multi]="true" #accordion="matAccordion">

        <!-- PRIMERO -->

        <mat-expansion-panel [expanded]="this.isExpanded">
          <mat-expansion-panel-header (click)="obtenerAlumnos(1,'PRIMERO')">
            Primero
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-label>Lista de Alumnos:</mat-label>
            <div class="row">
              <div class="col">
                <label for="">Dni:</label>
              </div>
              <div class="col">
                <label for="">Nombre y Apellido</label>
              </div>
              <mat-list-item *ngFor="let alumno of listaPrimero;" role="listitem">
                <div class="col">
                  {{alumno.DNIAlumno}}
                </div>
                <div class="col">
                  {{alumno.nombre}} {{alumno.apellido}}
                </div>
                <div class="col">
                  <button (click)="dialogoEliminar(alumno,'PRIMERO')" mat-button>Dar de Baja</button>
                </div>
              </mat-list-item>
              <div class="col">
                <button (click)="inscribirAlumno(alumno,'PRIMERO')" mat-button>Inscribir Alumno en este curso</button>
              </div>

            </div>
          </mat-list>
        </mat-expansion-panel>
        <!-- segundo -->
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="obtenerAlumnos(1,'SEGUNDO')">
            Segundo
          </mat-expansion-panel-header>

          <div class="row">
            <mat-list role="list">
              <mat-label>Lista de Alumnos:</mat-label>
              <div class="row">
                <div class="col">
                  <label for="">Dni:</label>
                </div>
                <div class="col">
                  <label for="">Nombre y Apellido</label>
                </div>
                <mat-list-item *ngFor="let alumno of listaSegundo;" role="listitem">
                  <div class="col">
                    {{alumno.DNIAlumno}}
                  </div>
                  <div class="col">
                    {{alumno.nombre}} {{alumno.apellido}}
                  </div>
                  <div class="col">
                    <button (click)="dialogoEliminar(alumno,'SEGUNDO')" mat-button>Dar de Baja</button>
                  </div>
                </mat-list-item>
                <div class="col">
                  <button (click)="inscribirAlumno(alumno,'SEGUNDO')" mat-button>Inscribir Alumno en este curso</button>
                </div>
              </div>
            </mat-list>
          </div>
        </mat-expansion-panel>
        <!-- tercero -->
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="obtenerAlumnos(1,'SEGUNDO')">
            Tercero
          </mat-expansion-panel-header>

          <div class="row">
            <mat-list role="list">
              <mat-label>Lista de Alumnos:</mat-label>
              <div class="row">
                <div class="col">
                  <label for="">Dni:</label>
                </div>
                <div class="col">
                  <label for="">Nombre y Apellido</label>
                </div>
                <mat-list-item *ngFor="let alumno of listaTercero;" role="listitem">
                  <div class="col">
                    {{alumno.DNIAlumno}}
                  </div>
                  <div class="col">
                    {{alumno.nombre}} {{alumno.apellido}}
                  </div>
                  <div class="col">
                    <button (click)="dialogoEliminar(alumno,'TERCERO')" mat-button>Dar de Baja</button>
                  </div>
                </mat-list-item>
                <div class="col">
                  <button (click)="inscribirAlumno(alumno,'TERCERO')" mat-button>Inscribir Alumno en este curso</button>
                </div>



              </div>
            </mat-list>
          </div>
        </mat-expansion-panel>

        <!-- CUARTO -->
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="obtenerAlumnos(1,'CUARTO')">
            Cuarto
          </mat-expansion-panel-header>

          <div class="row">
            <mat-list role="list">
              <mat-label>Lista de Alumnos:</mat-label>
              <div class="row">
                <div class="col">
                  <label for="">Dni:</label>
                </div>
                <div class="col">
                  <label for="">Nombre y Apellido</label>
                </div>
                <mat-list-item *ngFor="let alumno of listaCuarto;" role="listitem">
                  <div class="col">
                    {{alumno.DNIAlumno}}
                  </div>
                  <div class="col">
                    {{alumno.nombre}} {{alumno.apellido}}
                  </div>
                  <div class="col">
                    <button (click)="dialogoEliminar(alumno,'CUARTO')" mat-button>Dar de Baja</button>
                  </div>
                </mat-list-item>
                <div class="col">
                  <button (click)="inscribirAlumno(alumno,'CUARTO')" mat-button>Inscribir Alumno en este curso</button>
                </div>
              </div>
            </mat-list>
          </div>
        </mat-expansion-panel>

        <!-- quinto -->
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="obtenerAlumnos(1,'QUINTO')">
            Quinto
          </mat-expansion-panel-header>

          <div class="row">
            <mat-list role="list">
              <mat-label>Lista de Alumnos:</mat-label>
              <div class="row">
                <div class="col">
                  <label for="">Dni:</label>
                </div>
                <div class="col">
                  <label for="">Nombre y Apellido</label>
                </div>
                <mat-list-item *ngFor="let alumno of listaQuinto;" role="listitem">
                  <div class="col">
                    {{alumno.DNIAlumno}}
                  </div>
                  <div class="col">
                    {{alumno.nombre}} {{alumno.apellido}}
                  </div>
                  <div class="col">
                    <button (click)="dialogoEliminar(alumno,'QUINTO')" mat-button>Dar de Baja</button>
                  </div>
                </mat-list-item>
                <div class="col">
                  <button (click)="inscribirAlumno(alumno,'QUINTO')" mat-button>Inscribir Alumno en este curso</button>
                </div>
              </div>
            </mat-list>
          </div>
        </mat-expansion-panel>
        <!-- sexto -->
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="obtenerAlumnos(1,'SEXTO')">
            Sexto
          </mat-expansion-panel-header>

          <div class="row">
            <mat-list role="list">
              <mat-label>Lista de Alumnos:</mat-label>
              <div class="row">
                <div class="col">
                  <label for="">Dni:</label>
                </div>
                <div class="col">
                  <label for="">Nombre y Apellido</label>
                </div>
                <mat-list-item *ngFor="let alumno of listaSexto;" role="listitem">
                  <div class="col">
                    {{alumno.DNIAlumno}}
                  </div>
                  <div class="col">
                    {{alumno.nombre}} {{alumno.apellido}}
                  </div>
                  <div class="col">
                    <button (click)="dialogoEliminar(alumno,'SEXTO')" mat-button>Dar de Baja</button>
                  </div>
                </mat-list-item>
                <div class="col">
                  <button (click)="inscribirAlumno(alumno,'SEXTO')" mat-button>Inscribir Alumno en este curso</button>
                </div>
              </div>
            </mat-list>
          </div>
        </mat-expansion-panel>
        <!-- septimo -->
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="obtenerAlumnos(1,'SEPTIMO')">
            Septimo
          </mat-expansion-panel-header>

          <div class="row">
            <mat-list role="list">
              <mat-label>Lista de Alumnos:</mat-label>
              <div class="row">
                <div class="col">
                  <label for="">Dni:</label>
                </div>
                <div class="col">
                  <label for="">Nombre y Apellido</label>
                </div>
                <mat-list-item *ngFor="let alumno of listaSeptimo;" role="listitem">
                  <div class="col">
                    {{alumno.DNIAlumno}}
                  </div>
                  <div class="col">
                    {{alumno.nombre}} {{alumno.apellido}}
                  </div>
                  <div class="col">
                    <button (click)="dialogoEliminar(alumno,'SEPTIMO')" mat-button>Dar de Baja</button>
                  </div>
                </mat-list-item>
                <div class="col">
                  <button (click)="inscribirAlumno(alumno,'SEPTIMO')" mat-button>Inscribir Alumno en este curso</button>
                </div>
              </div>
            </mat-list>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>