<div style="padding:25px;">
    <div class="row">
        <div class="col">
            REPORTE
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col">
            INGRESOS TOTALES
        </div>
    </div>
    <br>
    <div *ngIf="reporte.fechaI !== '' || reporte.fechaF !== ''" class="row">
        <div class="col-4">
            Periodo
        </div>
        <div class="col-4">Desde: {{reporte.fechaI}}</div>
        <div class="col-4">Hasta: {{reporte.fechaF}}</div>
    </div>
    <div *ngIf="reporte.fechaI === '' || reporte.fechaF === ''" class="row">
        <div class="col-4">
            TODOS LOS PERIODOS
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <table>
                <tr>
                    <th>Concepto</th>
                    <th>Fecha</th>
                    <th>Importe</th>
                </tr>
                <tr *ngFor="let cobro of cobros">
                    <td>{{cobro.concepto}}</td>
                    <td>{{cobro.fecha}}</td>
                    <td>{{cobro.importe}}</td>
                </tr>
                <br>
                <tfoot>
                    <tr>
                        <td><b>TOTAL</b></td>
                        <td></td>
                        <td><b>{{reporte.total}}</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col" style="text-align: center;">
        <button (click)="exportarCSV()" mat-raised-button color="primary" (click)="generaBoleta()">
            <mat-icon> insert_drive_file
            </mat-icon> Exportar a CSV
        </button>
    </div>
</div>