<h5>Ingrese información de la materia</h5>

<!-- Formulario para agregar materia -->
<form #materiaForm="ngForm" (ngSubmit)="addMateria(materiaForm)">
  <!-- Nombre de materia -->
  <mat-form-field appearance="outline" hideRequiredMarker>
    <mat-label>Ingresar nombre</mat-label>
    <input type="text" name="nombre" #nombre="ngModel"
           [(ngModel)]="materiaService.selectedMateria.nombre"
           matInput required>
  </mat-form-field>

  <!-- Código de materia -->
  <mat-form-field appearance="outline" hideRequiredMarker>
    <mat-label>Ingresar código</mat-label>
    <input type="text" name="codigo" #codigo="ngModel"
           [(ngModel)]="materiaService.selectedMateria.codigo"
           matInput required>
  </mat-form-field>

  <mat-dialog-actions>
    <!-- Cancel -->
    <button type="reset" mat-raised-button color="warn" (click)="close()">Cancelar</button>

    <!-- Submit -->
    <button type="submit" mat-raised-button color="primary">Agregar</button>

  </mat-dialog-actions>
</form>


