<div class="row justify-content-md-center">
  <mat-card class="col-md-10">
    <mat-card-title style="text-align: center">Administración de materias</mat-card-title>
    <mat-card-content>

      <!-- Panel de botones -->
      <div style="text-align: center; margin-bottom: 1rem">
        <button mat-raised-button (click)="openDialog()" color="primary">Agregar materia</button>
      </div>

      <h5>Lista de materias</h5>
      <app-lista-materias></app-lista-materias>
    </mat-card-content>
  </mat-card>
</div>
