<div class="container" id="factura">
    <div class="row border">
        <h1>ORIGINAL</h1>
    </div>
    <div class="row border">
        <div class="col border">
            <h1>INSTITUTO MODELO</h1>
            <h3>Instituo de Educacion Primaria y Secundaria</h3>
        </div>
        <div class="col border">
            <h1>FACTURA</h1>
            <label for="">Comprobande Nro {{this.data.boleta.idCuota}}</label>
            <br>
            <label for="">Fecha de Emision: {{this.fecha}}</label>
        </div>
    </div>
    <div class="row border">
        <label for="">Periodo Facturado: {{this.data.boleta.vencimiento1}}</label>
    </div>
    <div class="row border">
        <div class="col border">
            <label for="">Consumidor: Final</label>
            <br>
            <label for="">Condicion de Venta: Contado</label>
        </div>
        <div class="col border">
            <label for="">Nombre y Apellido: {{this.data.nombreAlumno}}</label>
            <br>
            <label for="">DNI: {{this.data.boleta.dniAlumno}}</label>

        </div>

    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nro de Factura</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{this.data.boleta.idCuota}}</th>
                    <td>{{this.data.boleta.mes}}</td>
                    <td>{{this.data.boleta.importe}}</td>
                    <td>{{this.data.boleta.importe}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <td colspan="3">{{this.data.importe}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>