<mat-card class="backgroundCard">
  <mat-card-header>
    <mat-card-title>Asignar Docentes de Primaria</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <label style="margin-left: 20px">Seleccione un ciclo Lectivo</label>
    <mat-form-field style="margin-left: 20px">
      <mat-select [formControl]="idPlanControl">
        <mat-option *ngFor="let ciclo of ciclos" [value]="ciclo">
          {{ciclo.periodo}} {{ciclo.nombrePlan}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <label style="margin-left: 20px">Seleccione un curso</label>
    <mat-form-field style="margin-left: 20px">
      <mat-select [formControl]="cursoControl">
        <mat-option value="PRIMERO">PRIMERO</mat-option>
        <mat-option value="SEGUNDO">SEGUNDO</mat-option>
        <mat-option value="TERCERO">TERCERO</mat-option>
        <mat-option value="CUARTO">CUARTO</mat-option>
        <mat-option value="QUINTO">QUINTO</mat-option>
        <mat-option value="SEXTO">SEXTO</mat-option>
        <mat-option value="SEPTIMO">SEPTIMO</mat-option>
      </mat-select>
    </mat-form-field>
    <label style="margin-left: 20px">Seleccione una División</label>
    <mat-form-field style="margin-left: 20px">
      <mat-select [formControl]="divisionControl">
        <mat-option (click)="traerMateriaPorCurso('B')" value="A">A</mat-option>
        <mat-option (click)="traerMateriaPorCurso('A')" value="B">B</mat-option>
      </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="nombreMateria">
        <th mat-header-cell *matHeaderCellDef> Materia: </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreMateria}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="DNIDocente">
        <th mat-header-cell *matHeaderCellDef> DNI Docente Asignado </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.DNIDocente !== 0">
            {{element.DNIDocente}}
          </div>
          <div *ngIf="element.DNIDocente === 0">

          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="nombreDocente">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.DNIDocente !== 0">
              {{element.nombreDocente}}
            </div>
            <div *ngIf="element.DNIDocente === 0">
  
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="apellidoDocente">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.DNIDocente !== 0">
                {{element.apellidoDocente}}
              </div>
              <div *ngIf="element.DNIDocente === 0">
    
              </div>
            </td>
          </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Division">
        <th mat-header-cell *matHeaderCellDef> Division </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.DNIDocente !== 0">
            {{element.division}} </div>
          <div *ngIf="element.DNIDocente === 0">

          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="operaciones">
        <th mat-header-cell *matHeaderCellDef> Operaciones </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.DNIDocente === 0" (click)="asignarDocente(element,'M')">
            Asignar
          </button>
          <button (click)="asignarDocente(element,'M')" *ngIf="element.DNIDocente !== null && element.DNIDocente !== 0">
            Modificar
          </button>
          <button (click)="asignarDocente(element,'B')" *ngIf="element.DNIDocente !== null && element.DNIDocente !== 0">
              Desvincular Docente
            </button>
          <button (click)="asignarDocente(element,'A')" *ngIf="element.DNIDocente === null">
            Asignar
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>








  </mat-card-content>
</mat-card>




<mat-card class="backgroundCard">
  <mat-card-header>
    <mat-card-title>Asignar Docentes de Primaria</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <label style="margin-left: 20px">Seleccione un ciclo Lectivo</label>
    <mat-form-field style="margin-left: 20px">
      <mat-select [formControl]="cicloControl">
        <mat-option (click)="traerPlan()" *ngFor="let ciclo of ciclos" [value]="ciclo.idPeriodoLectivo">
          {{ciclo.periodo}} {{ciclo.nombrePlan}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Nivel -->
    <div class="row">
      <label style="margin-left: 35px">Seleccione el la Division</label>
      <mat-radio-group style="margin-left: 40px" [formControl]="divisionControl" aria-label="Seleccione una Opción">
        <mat-radio-button value="A">Division A</mat-radio-button>
        <mat-radio-button style="margin-left: 20px" value="B">Division B</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerDocente(1,'PRIMERO')">
          Primero
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px">
            <b>Materia </b>
          </label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <mat-list-item *ngFor="let materia of listaPrimero" role="listitem">
              <div class="col">
                {{materia.nombreMateria}}
              </div>
              <div class="col">
                <button (click)="validaDivision(materia,'PRIMERO')" mat-raised-button color="primary">Ver Docente
                  Asignado
                </button>
              </div>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerDocente(2,'SEGUNDO')">
          Segundo
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-label> <b>Materia</b></mat-label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <mat-list-item *ngFor="let materia of listaSegundo" role="listitem">
              <div class="col">
                {{materia.nombreMateria}}
              </div>
              <div class="col">
                <button (click)="validaDivision(materia,'SEGUNDO')" mat-raised-button color="primary">Ver docente
                  asignado</button>
              </div>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerDocente(3,'TERCERO')">
          Tercero
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px">
            <b>Materia </b>
          </label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <mat-list-item *ngFor="let materia of listaTercero" role="listitem">
              <div class="col">
                {{materia.nombreMateria}}
              </div>
              <div class="col">
                <button (click)="validaDivision(materia,'TERCERO')" mat-raised-button color="primary">
                  Ver docente asignado
                </button>
              </div>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerDocente(4,'CUARTO')">
          Cuarto
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px">
            <b>Materia </b>
          </label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <mat-list-item *ngFor="let materia of listaCuarto" role="listitem">
              <div class="col">
                {{materia.nombreMateria}}
              </div>
              <div class="col">
                <button (click)="validaDivision(materia,'CUARTO')" mat-raised-button color="primary">
                  Ver docente asignado
                </button>
              </div>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerDocente(5, 'QUINTO')">
          Quinto
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px">
            <b>Materia </b>
          </label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <mat-list-item *ngFor="let materia of listaQuinto" role="listitem">
              <div class="col">
                {{materia.nombreMateria}}
              </div>
              <div class="col">
                <button (click)="validaDivision(materia,'QUINTO')" mat-raised-button color="primary">
                  Ver docente asignado
                </button>
              </div>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerDocente(6,'SEXTO')">
          Sexto
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px">
            <b>Materia </b>
          </label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <mat-list-item *ngFor="let materia of listaSexto" role="listitem">
              <div class="col">
                {{materia.nombreMateria}}
              </div>
              <div class="col">
                <button (click)="validaDivision(materia,'SEXTO')" mat-raised-button color="primary">
                  Ver docente asignado
                </button>
              </div>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click)="obtenerDocente(7,'SEPTIMO')">
          Séptimo
        </mat-expansion-panel-header>
        <mat-list role="list">
          <label style="margin:10px">
            <b>Materia </b>
          </label>
          <div class="row" style="background-color: rgb(227,231,255)">
            <mat-list-item *ngFor="let materia of listaSeptimo" role="listitem">
              <div class="col">
                {{materia.nombreMateria}}
              </div>
              <div class="col">
                <button (click)="validaDivision(materia,'SEPTIMO')" mat-raised-button color="primary">Ver docente
                  asignado
                </button>
              </div>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-expansion-panel>

      <!--  <div class="row justify-content-md-center">
                     Botones del formulario 
                    <div class="d-flex justify-content-center">
                         Cancel
                        <button type="reset" mat-raised-button color="warn">Cancelar</button>

                         Submit 
                        <button type="button" mat-raised-button color="primary" (click)="formValid('primaria')">
                            Crear Plan de Estudio
                        </button>
                    </div>
                </div> -->
    </mat-accordion>
  </mat-card-content>
</mat-card>