table{
    width: 98%;
}
.Card {
    margin: 1rem 4rem 1rem 4rem;
}
/* CSS TABLA */
th {
    background-color: #3F51B5;
    color: beige;
}

td {
    background-color: #C5CAE9;
}

mat-cell {
    background-color: #C5CAE9;
}
