<div mat-dialog-content>
    <p>Materia: {{this.data.nombreMateria}}</p>
    <p>Lista de Docentes registrados en el sistema</p>
    <p>Seleccione un Docente a asignar</p>
</div>
<div class="row justify-content-md-center">
    <!-- Buscador -->
    <mat-form-field class="col-sm-12">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar docente">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Columna DNI -->
        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef>DNI</th>
            <td mat-cell *matCellDef="let empleado">{{empleado.dni}}</td>
        </ng-container>

        <!-- Columna Apellido -->
        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef>Apellido</th>
            <td mat-cell *matCellDef="let empleado">{{empleado.apellido}}</td>
        </ng-container>

        <!-- Columna Nombre -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let empleado">{{empleado.nombre}}</td>
        </ng-container>
        <!-- Columna operaciones -->
        <ng-container matColumnDef="operaciones">
            <th mat-header-cell *matHeaderCellDef>Operaciones</th>
            <td mat-cell *matCellDef="let empleado">
                <!-- Botón editar -->
                <button mat-raised-button style="background-color: dodgerblue" (click)="asignar(empleado)">
                    <mat-icon>add</mat-icon>Asignar
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div mat-dialog-actions>

</div>

<div>
    
</div>