table {
    width: 100%;
  }
  
  .example-container {
    height: 330px;
    overflow: auto;
  }
  
  th {
    background-color: #3F51B5;
    color: beige;
  }
  
  td {
    background-color: #C5CAE9;
  }
  
  button {
    margin: 10px;
  }
  
  mat-cell {
    background-color: #C5CAE9;
  }
  
  mat-card {
    width: auto;
    display: block;
  }

  mat-card {
    background-color: #E8EAF6;
    margin: 2rem;
  }